section.filters {
    background-color: white;
    color: #484848;
    height:70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin: auto 30px;
}
button:hover {
    opacity: 90%;
}
div.locations, div.amenities {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    display: flex;  
    flex-direction: column;
    position: relative;
    right: 25%;
    justify-content: center;
    padding-left: 50px;
}
div.container section.filters div.locations {
    border-right: 1px #DDDDDD solid;
}
section.filters div h3 {
    font-weight: 600;
    padding-top: 5px;
}
section.filters div h4 {
    margin-top: -10px;
    font-weight: 400;
    font-size: 14px;
}
section.filters div ul.popover {
    margin-top: 70px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: calc(100% + 2px);
    background-color: #FAFAFA;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: -1px;
    display: none;
    padding: 20px;
    width: 240px;
    margin-left: 10px;
    padding-left: 50px;
} 
section.filters div:hover ul.popover {
    display: block;
}
ul {
    list-style: none;
}
section.filters div ul.popover li {
    padding-bottom: 5px;
}
section.filters div ul.popover ul {
    padding-bottom: 5px;
}
section.filters div ul.popover h2 {
    padding-bottom: 5px;
    font-size: 16px;
}